<footer>
    <div class="footer-container">
        <div class="info">
            <div>
                <span>
                    <i class="fas fa-heart"></i>
                </span>
                <p>
                    The purchase of your shirt benefits small 
                business and sustainable clothing.
                </p>
            </div>
            <div>
                <span>
                    <i class="fab fa-instagram"></i>
                </span>
                <p>
                    For more information on the boutique 
                where your shirt will be printed, follow 
                @katoenfabriek
                </p>
            </div>
            <div>
                <span>
                    <i class="fab fa-instagram"></i>
                </span>
                <p>
                    For more information on the sustainable 
                shirts, follow @wearestanleystella on 
                Instagram
                </p>
            </div>
        </div>
        <div class="social">
            <p>Follow us</p>
            <div class="social-buttons">
                <a href="#" class="social-icons-cont">
                    <span>
                        <i class="social-icons fab fa-instagram"></i>
                    </span>
                </a>
                <a href="#" class="social-icons-cont">
                    <span>
                        <i class=" social-icons fab fa-facebook-f"></i>
                    </span>
                </a>
                <a href="#" class="social-icons-cont">
                    <span>
                        <i class=" social-icons fab fa-pinterest"></i>
                    </span>
                </a>
            </div>
            <p>
                Website created by Christos Tzoustas 2020 ©
            </p>
        </div>
    </div>
</footer>

<script src="/scripts/glide.min.js"></script>
<script src="/scripts/glide.js"></script>
<script src="/scripts/helpers.js"></script>
<script src="/scripts/createCart.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/cart.js"></script>
<script src="/scripts/shipping.js"></script>
</body>
</html>
