.container-cart {
    display: flex;
    justify-content: center;
}

.cart {
    width: 80%;
}

.cart h1 {
    font-weight: 400;
    font-size: 1.8rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.cart-header-item {
    font-weight: bold;
    font-size: 0.9rem;
}

.cart-content-header {
    padding-top: 2rem;
}

.order-disclaimer {
    padding-bottom: 2rem;
}

.cart-item {
    font-size: 0.9rem;
}

.cart-header-item {
    padding-bottom: 1rem;
}

.cart-header-item:nth-of-type(-n+2) {
    text-align: left;
}

.cart-header-item:last-of-type, .cart-item:last-of-type {
    text-align: right
}

.cart-item:nth-of-type(4) {
    text-align: center;
}

td.cart-item-figure {
    width: 10%;
}

td.cart-item-desc {
    width: 35%;
}

.cart-item {
    width: 15%;
}

#item-desc-container {
    padding: 0.8rem;
}

#item-title {
    margin: 0;
}

#item-desc-small {
    margin-bottom: 0.7rem;
    margin-top: 0.6rem;
}

#item-desc-small, .cart-item-desc a {
    font-size: 0.8rem;
}

.cart-item-desc div>div {
    display: flex;
    align-items: center;
}

.cart-item-desc div>div * {
    margin-right: 1rem;
}

.cart-item-desc div>p {
    margin: 0.7rem 2rem 0.7rem 0;
}

.cart-item-desc div>div span {
    font-weight: bold;
}

.cart-list {
    border: 4px black;
    border-style: solid none;
    margin: 2rem 0;
}

.cart-item-figure img {
    width: 160px;
}

.cart-item-price .cart-item-value {
    color: red;
}

.cart-item-total {
    font-weight: bold;
}

.form-delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form[method=POST] {
    margin: 0;
}

.form-delete button {
    padding-right: 0;
}

.form-increment input {
    border: none;
    text-align: center;
    width: 25%;
}

table button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.cart-totals-container {
    display: flex;
    justify-content: flex-end;
}

ul.cart-totals {
    list-style: none;
    width: 40%;
    padding: 0;
    color: rgba(0, 0, 0, 0.55);
    padding: 1rem 0;
}

li.cart-total {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}

.shipping-estimator {
    flex-basis: 100%;
    font-size: 0.9rem;
}

.estimator-form {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shipping-quote {
    padding-top: 1rem;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.shipping-quote .estimator-value {
    color: black;
}

.update-shipping {
    color: inherit;
    text-align: center;
    flex-basis: 100%;
    font-size: 0.8rem;
    padding-top: 1rem;
}

.hidden-cart {
    display: none;
}

.cart-total-label {
    font-weight: bold;
}

.cart-total-value {
    color: black;
}

.grand-total {
    font-size: 1.4rem;
    color: black;
}

.cart-total .shipping-info {
    color: inherit;
}

.cart-actions {
    text-align: right;
    padding-bottom: 2rem;
}

.cart-actions button {
    background-color: black;
    color: white;
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
    border: none;
    margin: 2rem 0;
    text-transform: uppercase;
    transition: .2s;
}

.cart-actions button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.cart-item-label {
    color: rgba(0, 0, 0, 0.55);
    font-weight: normal;
}

.cart-hidden-desktop {
    display: none;
}

.order-counter-disc {
    font-size: 0.8rem
}

.order-counter {
    background-color: #72b964;
    border-radius: 50%;
    padding: 0.3rem;
    display: inline-block;
    margin: 0 0.5rem;
    color: white;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
}

.empty-cart-div {
    padding: 1rem 0 4rem 0;
}

.empty-cart-div h3 {
    font-weight: normal;
}

@media only screen and (max-width: 1296px) {
    ul.cart-totals {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .cart {
        width: 100%;
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .cart-hidden-mobile {
        display: none;
    }
    .cart-hidden-desktop {
        display: block;
    }
    .cart-item-label {
        margin: 0;
        padding: 1rem 0;
    }
    td.cart-item.cart-item-desc {
        width: 100%;
        float: left;
    }
    #item-desc-container {
        padding: 0;
    }
    td.cart-item-figure {
        padding-right: 2rem;
    }
    .cart-item:not(:first-of-type) {
        float: left;
        width: 33%;
        box-sizing: border-box;
        text-align: left;
        padding: 1rem;
    }
    .cart-item:nth-of-type(4), .cart-item:last-of-type {
        text-align: left;
    }
    .form-delete {
        justify-content: initial;
    }
    .form-increment form button:nth-of-type(1) {
        padding-left: 0;
    }
    td.cart-item.cart-item-figure {
        vertical-align: top;
    }
    td.cart-item.cart-item-figure img {
        padding-top: 1rem;
    }
    table .cart-item:nth-of-type(2) {
        padding-bottom: 1rem;
    }
    ul.cart-totals {
        width: 80%;
    }
}

@media only screen and (max-width: 604px) {
    .cart-item:not(:first-of-type) {
        width: 100%;
        padding: 0;
        display: flex;
    }
    .cart-item-label {
        padding: 0;
    }
    table .cart-item:nth-of-type(2) {
        padding: 1rem 0;
    }
    table .cart-item:nth-of-type(n+3) {
        padding: 0.5rem 0;
        justify-content: space-between;
    }
    table td.cart-item-total:nth-of-type(5) {
        padding-bottom: 1rem;
    }
    table .cart-item:nth-of-type(n+3) .cart-item-label {
        text-align: right;
    }
    .form-increment form {
        text-align: right;
    }
    .form-increment form button:nth-of-type(2) {
        padding-right: 0;
    }
    ul.cart-totals {
        width: 100%;
    }
    .estimator-value select {
        width: 60%;
    }
    .estimator-value {
        text-align: right;
    }
    .cart-actions button {
        width: 100%;
    }
}