body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    overflow-anchor: none;
    background-color: white;
}

.background-image-huge {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .62), 20%, rgba(0, 0, 0, .25)), url('../images/back-huge.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position-x: right;
}

.nav-link {
    position: relative;
    padding-bottom: 0.6rem;
}

.navigation-border {
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: #626bdd;
    position: absolute;
    left: 200%;
    opacity: 0;
    transition: all .2s;
}

.navigation-border-active {
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #626bdd;
    position: absolute;
}

.nav-link:hover>.navigation-border {
    opacity: 1;
    left: 0;
}

.hide-desktop {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 2s linear;
}

#success-msg {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #155a6d;
    color: white;
    z-index: 100;
    padding: 1rem;
    position: fixed;
    border-radius: 2rem;
}

.navbar-shadow {
    box-shadow: 0 0.1rem .8rem rgba(0, 0, 0, 0.15);
}

nav ul {
    list-style: none;
    font-size: 0.9rem;
    text-transform: uppercase;
}

nav ul li {
    float: left;
}

nav ul li:not(:last-child) {
    margin-right: 2rem;
    border-right: 1px solid black;
    padding-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

nav #menu {
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-shopping-cart {
    margin-left: 2rem;
}

#cart-counter {
    background-color: #3f48cc;
    color: white;
    border-radius: 50%;
    width: 1.3rem;
    display: inline-block;
    height: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
    font-size: small;
    transform: translateX(15%);
    vertical-align: middle;
}

.container-nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 30;
}

nav {
    padding: 0.9rem 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
    background-color: white;
}

#logo2 {
    height: 50px;
}

#logo1 {
    height: 45px;
}

#home-link {
    position: relative;
}

.hero {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url(../images/jumbo3.jpg);
    background-size: cover;
    background-position-y: 97%;
    background-position-x: right;
}

.layer {
    background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.45));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.headers * {
    margin-top: 0;
}

.headers h1 {
    white-space: pre-line;
    font-size: 2.4rem;
    letter-spacing: 0rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.headers-background {
    background-image: linear-gradient(to right, rgba(63, 72, 204, .85), rgba(3, 161, 100, .85));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 1rem;
}

.headers-sub {
    font-size: 2.2rem;
    line-height: 1.1;
}

.headers p {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.container-hero {
    width: 80%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.headers button {
    color: white;
    padding: 0.9rem 1.5rem;
    background-color: #3f48cc;
    border: none;
    text-transform: uppercase;
    transition: 0.2s;
    font-size: 1.1rem;
    position: relative;
    transition: all .2s;
}

.headers button:hover {
    background-color: #4e58ee;
    cursor: pointer;
    transform: translateY(-3px);
}

.headers button:active {
    transform: translateY(-1px);
}

.headers {
    position: absolute;
    z-index: 7;
    margin-bottom: 4rem;
}

#scroll-animation {
    position: absolute;
    z-index: 20;
    bottom: 8%;
    left: 46.833%;
    text-align: center;
}

#scroll-animation img {
    width: 65%;
    animation: move 1s infinite alternate
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(18px)
    }
}

.instructions {
    background-image: linear-gradient(to right bottom, rgba(63, 72, 204, 1), rgba(3, 161, 100, 1));
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-instructions {
    width: 80%;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 12rem 0;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    transition: all 0.2s;
}

.circle-wrap {
    background: linear-gradient(to right bottom, rgb(89, 97, 202), rgb(58, 224, 161));
    padding: 3px;
    border-radius: 50%;
}

.circle:hover {
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

.container-instructions:before {
    content: '';
    position: absolute;
    left: 13%;
    right: 13%;
    padding-bottom: 16px;
    border-bottom: 1px dashed white;
    ;
}

.steps {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.enlarge-image {
    cursor: pointer;
    transition: 0.3s;
}

.enlarge-image:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 2rem 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.patterns-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.patterns {
    width: 80%;
    text-align: center;
}

.patterns h2, .sizes h2, .colors h2, .review-order h2 {
    font-weight: 400;
    font-size: 1.8rem;
    padding: 2.8rem 0;
}

.patterns figure, figure#sizes {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.patterns figure img, #sizes img {
    width: 280px;
    border: 4px solid black;
}

.patterns figure figcaption, #sizes figcaption {
    margin-top: 2.8rem;
    font-size: 1.3rem;
}

.patterns figure button, .order-details button {
    background-color: black;
    color: white;
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    text-transform: uppercase;
    transition: .2s;
}

.patterns figure button:hover, .order-details button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filling-empty-spaces {
    width: 280px;
    height: 0;
    margin: 0 2.8rem;
}

.sizes-container {
    background-image: linear-gradient(to right bottom, rgba(63, 72, 204, 1), rgba(3, 161, 100, 1));
    display: flex;
    justify-content: center;
}

.sizes h2 {
    color: white;
}

.sizes {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.size-btn-wrapper {
    display: inline-block;
    padding: 4px;
    margin-right: 1.5rem;
    margin-bottom: 2.2rem;
    background: none;
    border-radius: 2rem;
    position: relative;
    z-index: 0;
}

.size-btn-wrapper-sibling {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 2rem;
    z-index: -11;
    background: linear-gradient(to right bottom, rgb(89, 97, 202), rgb(58, 224, 161));
}

.size-btn button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    transition: .2s;
}

.size-btn button:hover {
    background-color: white;
    color: #03A164;
    border: none;
    cursor: pointer;
}

.size-btn button:hover~div.size-btn-wrapper-sibling {
    background: #03A164;
}

.disclaimer {
    white-space: pre-line;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

figure#sizes {
    color: white;
    margin-right: 0;
}

#sizes figcaption {
    padding: 2rem 0;
    font-size: 0.8rem;
}

#sizes img {
    width: 250px;
}

.colors-container {
    background-color: white;
    overflow: hidden;
}

.colors {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 7rem;
    padding-bottom: 2rem;
}

button.color {
    background-color: white;
    border: none;
    cursor: pointer;
}

.glide {
    margin: auto;
}

button.color {
    border: none;
    background-color: white;
}

.color-suggestions-container {
    background-color: #f7f7f7;
    margin-top: 5rem;
}

.color-suggestions {
    width: 80%;
    margin: auto;
    text-align: center;
    padding:2rem;
    box-sizing: border-box;
}

.color-suggestions h4 {
    font-weight: 400;
    padding: 2.5rem 0;
    ;
    margin: 0;
}

.color-palette {
    width: 90px;
}

.colors-designs {
    display: flex;
    justify-content: center;
}

.colors-designs figure img:hover {
    width: 13rem;
}

.colors-designs figure {
    margin: 0rem 0.3rem 2.4rem;
}

.colors-designs figcaption {
    white-space: pre-line;
    vertical-align: top;
    display: inline;
    font-size: 0.9rem;
}

.colors-designs figure img {
    width: 8rem;
    transition: 0.2s;
}

.review-order {
    width: 80%;
    text-align: center;
    margin: auto;
}

.review-order h2.heading-white {
    color: white;
}

.order {
    width: 60%;
    border: 4px solid black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 6rem;
    background-color: white;
}

.order-img {
    margin: 2rem 3rem;
    margin-right: auto;
}

.order img {
    width: 280px;
}

.order-details {
    margin: 2rem 2rem 2rem 0rem;
    margin-right: auto;
    text-align: left;
}

.order-details #product-name, .order-details #size {
    margin-top: 2.7rem;
}

.order-details #price {
    margin-top: 0;
    color: red;
}

.order-details #product-desc {
    font-size: .8rem;
}

.order-details #size, .order-details #color {
    display: inline-block;
}

.order-details span {
    margin-left: 1rem;
    font-size: .8rem;
    font-weight: bold;
}

.order-details span:first-child {
    margin-right: 1rem;
}

.fa-trash-alt {
    position: absolute;
    right: 0;
    margin: 1rem;
    font-size: 1.2rem;
    transition: .2s;
}

.fa-trash-alt:hover {
    color: red;
    cursor: pointer;
}

footer {
    background-image: linear-gradient(to right bottom, rgba(63, 72, 204, 1), rgba(3, 161, 100, 1));
}

.footer-container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.info {
    color: white;
    font-size: 0.7rem;
    white-space: pre-line;
}

.info .fa-heart, .info .fa-instagram {
    font-size: 1.3rem;
}

.info>div {
    display: flex;
}

.info div>span, .info div>a {
    align-self: center;
    margin-right: 1.5rem;
    color: white;
}

.social {
    color: white;
    display: flex;
    justify-content: inherit;
    flex-direction: column;
}

.social p:first-of-type {
    text-transform: uppercase;
}

.social p:last-of-type {
    font-size: 0.7rem;
}

.social-icons-cont {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}

.social-icons {
    font-size: 1.5rem;
    color: #03A164;
}

.social-icons-cont:hover {
    background-image: linear-gradient(to right bottom, rgba(63, 72, 204, 1), rgba(3, 161, 100, 1));
    border: 2px solid white;
}

.social-icons-cont:hover .social-icons {
    color: white;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.paypal-footer {
    margin: 2rem 0 1rem 0;
}

.paypal-footer-caption {
    text-transform: uppercase;
}

.paypal-footer-img {
    margin-top: 1rem;
    width: 80px;
}


@media only screen and (min-width: 2520px) {
    div.order {
        width: 35%;
    }
}

@media only screen and (min-width: 1920px) {
    .order {
        width: 50%;
    }
}

@media only screen and (min-width: 1820px) {
    .designs {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1292px) {
    .order {
        width: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
    .headers h1 {
        letter-spacing: initial;
        font-size: 2.2rem;
    }
    .headers {
        bottom: 22%;
    }
    .hide-desktop {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    .headers button {
        padding: 0.8rem 2.2rem;
    }
    nav ul {
        position: fixed;
        width: 40%;
        top: 0;
        right: 0;
        text-align: left;
        background-color: white;
        height: 100%;
        margin-top: 0;
        padding: 3rem 0 0 0;
        border-left: 2px solid black;
    }
    nav ul li {
        float: none;
    }
    nav ul li:not(:last-child) {
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
    .navigation-border {
        display: none;
    }

    .navigation-border-active {
        display: none;
    }
    #scroll-animation {
        left: auto;
    }
    nav ul li a.nav-link {
        color: black;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        border-top: 2px solid black;
    }
    nav ul li:last-of-type {
        border-bottom: 2px solid black;
    }
    nav ul li a:hover {
        background-image: linear-gradient(to right bottom, rgba(63, 72, 204, 1), rgba(3, 161, 100, 1));
        color: white;
    }
    #exit-btn {
        color: black;
        margin-bottom: 1em;
        margin-top: -1.3rem;
        text-align: right;
        padding-right: 1.4rem;
        cursor: pointer;
    }
    .exit-btn .fa-times {
        font-size: 1.2rem;
    }
    .color-suggestions, .patterns, .container-nav, .container-instructions, .sizes, .colors, .review-order, .footer-container, .container-hero {
        width: 100%;
    }
    nav {
        padding: 1.7rem 2rem;
    }
    .container-hero {
        justify-content: center;
    }
    .headers {
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .headers h1 {
        white-space: normal;
    }
    #scroll-animation img {
        width: 60%;
    }
    div.sizes {
        padding: 0 3rem
    }
    #sizes img {
        width: 200px;
    }
    .footer-container {
        box-sizing: border-box;
    }
    .steps {
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: smaller;
    }
    nav ul {
        width: 50%;
    }
    .headers button, .patterns figure button, .order-details button {
        font-weight: bold;
    }
    .container-instructions {
        padding: 9rem 0;
    }
    .patterns h2, .sizes h2, .colors h2, .review-order h2 {
        margin: 1rem;
    }
    .filling-empty-spaces {
        display: none;
    }
    .designs {
        flex-direction: column;
    }
    .social-icons-cont {
        width: 50px;
        height: 50px;
    }
    div.order {
        width: 90%;
    }
    div.order img {
        width: 210px;
    }
    .colors-designs figure img {
        width: 105px;
    }
    #success-msg {
        padding: 1rem 8rem;
        top: 18%;
        bottom: initial;
        right: initial;
    }
}

@media only screen and (max-width: 576px) {
    #success-msg {
        padding: 1rem 3rem;
    }
    div.order img {
        width: 180px;
    }
    .headers button {
        width: 100%;
    }
    nav ul {
        width: 60%
    }
    .steps {
        padding: 0 1.3rem;
    }
    .order-img {
        margin: 2rem;
    }
    #scroll-animation img {
        width: 50%;
    }
    .sizes {
        flex-direction: column;
    }
    #sizes figcaption {
        margin-top: 0;
    }
    .designs {
        flex-direction: row;
    }
    figure#sizes {
        margin-left: 0;
    }
    .sizes h2 {
        margin-left: 0;
    }
    .sizes .disclaimer {
        margin-bottom: 0;
    }
    .colors-designs figure img {
        width: 80px;
    }
    .footer-container {
        flex-direction: column;
    }
    .social {
        margin-top: 2rem;
    }
    div.social-buttons {
        justify-content: flex-start;
        margin: 2rem 0;
    }
    .social-buttons>a {
        margin-right: 4rem;
    }
    .info {
        white-space: normal;
    }
}

@media only screen and (max-width: 432px) {
    #success-msg {
        padding: 1rem 2rem;
        font-size: 0.9rem;
    }
    .order {
        flex-direction: column;
    }
    .order-details {
        margin: auto;
        text-align: center;
    }
    .order-details button {
        display: initial;
    }
    .social {
        text-align: center;
    }
    .social-buttons>a {
        margin: auto;
    }
    .order-details button {
        margin-bottom: 1rem;
    }
    .colors-designs figure img {
        width: 55px;
    }
}