<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiet on The Shirt</title>
        <link rel="stylesheet" href="/css/errors.css">
    </head>
    <body>
        <main>
            <div>
                <p>
                    Oops! Something went wrong! :&#40;
                </p>
                <p><%= title %></p>
                <p>Let's get you back on track, <a href="/">Keep shopping</a></p>
                
            </div>
        </main>
    </body>
</html>