<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiet on The Shirt</title>
        <link rel="stylesheet" href="/css/failure.css">
    </head>
    <body>
        <main>
          <div>
                <p>
                    We couldn't process your payment. :&#40;
           <p>Please try again.</p> 
                </p>
                <a href="/checkout">Return to checkout</a>
            </div>
        </main>
    </body>
</html>
